# Configuración General de la Aplicación
APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

# Configuración de Localización (Idioma y Zona)
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

# Configuración del Modo de Mantenimiento
APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# Configuración del Servidor CLI de PHP (Octane / Artisan serve)
PHP_CLI_SERVER_WORKERS=4

# Configuración de Encriptación (Número de rondas para bcrypt)
BCRYPT_ROUNDS=12

# Configuración de Logs (Registro de errores y eventos)
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Configuración de Base de Datos
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=sail
DB_PASSWORD=password

# Configuración de Sesiones de Usuario
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# Configuración de Servicios Principales (Colas, Caché, Archivos, WebSockets)
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=database
# CACHE_PREFIX=

# Configuración de Correo Electrónico
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Configuración de Vite (Empaquetador de Assets Frontend)
VITE_APP_NAME="${APP_NAME}"
